/*
COLORES RGB DEL LOGO DEL EDOMEX
GRIS = #51616B
GRIS DEGRADADO = #92A4A4
VERDE = #8AFF00
ROSA FUERTE = #FF004A
ROSA = #FF3BF7
AMARILLO FUERTE = #FF8C03 
AMARILLO = #FCD100 
AZUL = #45D6FF
MORADO FUERTE = #5405F0
MORADO = #C23BFF
ROSA = #FF29F2
*/
.form-login {
  width: 370px;
  height: 580px;
  background: #364653;
  margin: auto;
  margin-top: 10px;
  box-shadow: 1px 20px 37px rgb(0, 0, 0);
  padding: 20px 30px;
  border-top: 6px solid #ff004a;
  color: white;
}

.form-login h5 {
  margin: 0;
  text-align: center;
  height: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid;
  font-size: 15px;
  color: white;
}

.controls {
  width: 100%;
  border: 1px solid #017bab;
  margin-bottom: 15px;
  padding: 6.5px 10px;
  background: white;
  font-size: 14px;
  font-weight: bold;
}

.buttons {
  width: 310px;
  height: 30px;
  background: #ff004a;
  border: none;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
  transition: all 0.5s ease;
  cursor: pointer;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.9);
  font-size: 14px;
}

.buttons:hover {
  background-color: #ff3bf7;
}

.form-login p {
  height: 40px;
  text-align: center;
  border-bottom: 1px solid;
}

.form-login a {
  color: white;
  text-decoration: none;
  font-size: 15px;
}

.form-login a:hover {
  text-decoration: underline;
}

.footer {
  background-color: #494e54;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  margin-left: 130px;
  margin-right: 130px;
}

.footer .img_footers {
  margin: auto;
  padding-top: 25px;
}
