/*
COLORES RGB DEL LOGO DEL EDOMEX
GRIS = #51616B
GRIS DEGRADADO = #92A4A4
VERDE = #8AFF00
ROSA FUERTE = #FF004A
ROSA = #FF3BF7
AMARILLO FUERTE = #FF8C03 
AMARILLO = #FCD100 
AZUL = #45D6FF
MORADO FUERTE = #5405F0
MORADO = #C23BFF
ROSA = #FF29F2
*/

table {
  margin: 0 auto;
  width: 80%;

  text-align: center;
}
