table {
  margin: 0 auto;
  width: 80%;
  text-align: center;

  background-color: white;
  text-align: left;
  border-collapse: collapse;
  width: 97%;
}

th,
td {
  padding: 2px;
  text-align: center;
}

thead {
  background-color: #494e54; /*Color de fondo del encabezado*/
  border-bottom: solid 5px #ff004a; /*Color del borde debajo del encabezadp*/
  color: white; /*Colores de letra*/
  text-align: center;
}

tr:nth-child(even) {
  background-color: #ddd; /*Color de colorear los pares de la tabla*/
}

tr:hover td {
  background-color: #a4a5a5;
}

input {
  border-radius: 5px;
  background-color: rgba(221, 221, 221, 0.718);
}

#tituloTabla,
#tituloUsuario {
  text-align: center;
  font-family: "robotoregular";
}

#tituloTabla {
  color: #494e54;
  border-bottom: solid 2px #624983;
}

#tituloUsuario {
  font-size: 1.1em;
}

label{
  text-align: center;
  margin-left: 20px;
}
