* {
  font-family: "Helvetica";
  font-family: Courier;
  font-size: 10px;
}
table {
  padding-left: 10px;
  padding-top: 0px;
  padding-right: 10px;
  padding-bottom: 10px;
  width: 982px;
}

#contenido {
  text-align: left;
  height: 70px;
}

p {
  display: inline;
}

#importe {
  text-align: left;
}

.consulta {
  text-align: right;
}
