* {
  font-family: Courier;
  font-size: 14px;
}

.cabecera {
  text-align: center;
  font-weight: bold; /*Texto en negrita*/
}

.informacion {
  vertical-align: text-top;
  padding: 5px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px solid black;
  border-left: 0px;
}

.cabeceras_perded {
  text-align: center;
}

.claconimp {
  text-align: center;
  padding: 5px;
  border-top: 0px;
  border-right: 0px;
  border-bottom: 0px solid black;
  border-left: 0px;
}

.consultaperded {
  text-align: center;
}

p {
  display: inline;
  text-align: right;
}

.consultaperded {
  vertical-align: text-top;
  text-align: left;
}

.consultaclave {
  vertical-align: text-top;
  text-align: left;
}

.consultaconcepto {
  vertical-align: text-top;
  text-align: left;
}

.consultaimporte {
  vertical-align: text-top;
  text-align: right;
}

.escudoagua {
  vertical-align: text-bottom;
}

.totales {
  text-align: right;
}
